<!DOCTYPE html>
<html lang="en">

   <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/home.css">
   </head>

   <body>
        <% if (typeof usuarioLogueado != 'undefined') { %> 
            <%- include("headerLogueado") %> 
        <% } else {%> 
          <%- include("headerDeslogueado") %> 
        <% } %> 

      <main>
        
        <div class="contenedorGeneral uk-section uk-section-small">

            <div class="uk-container uk-container-large uk-flex contenedorChico">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">

                <% for( let i = 0; i < posts.length; i++ ) { %>

                <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="<%=posts[i].relacionPostUser.foto_perfil%>"  alt="" >
                            </div>
                              <h4 class="nombreUsuario"> <a href="/profile/detalleUsuario/<%=posts[i].relacionPostUser.id%>"> <%= posts[i].relacionPostUser.nombre_usuario %> </a></h4>
                        </div>

                        <div class="post-body uk-flex uk-flex-center">
                              <a href="/search/detallePost/<%=posts[i].id%>"> <img src="<%= posts[i].url_imagen %>" alt=""> </a>
                        </div>

                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                           <div class="post-pie uk-flex">
                                <a class='usuario' href="/profile/detalleUsuario/<%=posts[i].relacionPostUser.id%>" > <%= posts[i].relacionPostUser.nombre_usuario %> </a>  <br>
                                <p class="uk-width-15-6 "> <%=posts[i].texto_post %>   </p>
                            </div>
                        </div>

                        <div class="post-comentarios">
                                <h6>Comentarios</h6>
                            <ul>
                <% for( let j = 0; j < posts[i].relacionComentPosts.length; j++ ) { %>
                                    <li>
                                        <a href="/profile/detalleUsuario/<%=posts[i].relacionComentPosts[j].idusuarios%>"> <p> - <%=posts[i].relacionComentPosts[j].relacionComentUser.nombre_usuario %> </p> </a>
                                        <p> <%=posts[i].relacionComentPosts[j].texto_comentario %> </p> 
                                    </li>     
                <% } %>
                                        <a class='verMas' href="/search/detallePost/<%=posts[i].id %> ">Ver más...</a>
                            </ul>
                        </div>
                </article>

                <% } %>             
   
                </section>
            </div>
        </div>
      </main>

      <%- include("footer") %> 

    </body>

</html>