<html>

    <%- include("head") %> 

    <link rel="stylesheet" href="/stylesheets/list.css">

<body>

    <%- include("headerDeslogueado") %> 

    <main>

    <div class="tituloFruitbookers">
        <h2> Nuestros Fruitbookers</h2>
    </div>

    <div class="contenido">

    <div>
        <img class='imagen' src="https://media.giphy.com/media/27bY3mzyM4d4UrNGo8/giphy.gif" alt="">
    </div>
    
    <div class="listado">
    <% for (let i = 0; i < listado.length; i++) { %>
        <ol class="list">
      
            <%=listado[i].edad%> <%=listado[i].nombre%> <%=listado[i].user%> <%=listado[i].fechaNacimiento%> 
            
        </ol>
    <% } %>
</div>

</div>

</main>


    <%- include("footer") %> 
</body>
</html>