<!DOCTYPE html>
<html lang="en">
   <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/miPerfil.css">
   </head>

    <body>
       <%- include("headerLogueado") %> 

     <main> 
        <div class="contendorGeneral uk-section uk-section-small">
            <div class=" contenedorChico uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="<%=perfil.foto_perfil  %>" alt="foto de perfil" class="foto-perfil foto-perfil-principal">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="nombreUsuario uk-flex uk-flex-middle">
                            <div class="nombre"><h3 class="uk-margin-remove"> <a href="/profile/miPerfil/<%=perfil.id  %>">  <%=perfil.nombre_usuario  %> </a> </h3></div>
                            <div class="editarPerf"><a href="/profile/editarPerfil/<%= perfil.id %> "> Editar perfil </a></div>
                        </div>
                        <div class="datos"> 
                        
                                <%   let aleatorio1 = Math.round(Math.random()*10); %>
                                <%   let aleatorio2 = Math.round(Math.random()*200); %>
                                <%   let aleatorio3 = Math.round(Math.random()*100); %>
                                
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <div ><li> <%=aleatorio1  %>   POSTS</li> </div>
                                <div ><li> <%=aleatorio2  %>  SEGUIDORES</li> </div>
                                <div > <li> <%=aleatorio3  %>  SEGUIDOS</li></div>

                           
                              
                            </ul>
                        </div>
                    </div>

                </section>

                   <% for( let i = 0; i < perfil.relacionPostUser.length; i++ ) { %>

                <section class="muro uk-flex uk-flex-middle uk-flex-center">
                       <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                           <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                              <a href="/search/detallePost/<%=perfil.relacionPostUser[i].id  %>" class="link-detalle">
                                <img src="<%=perfil.relacionPostUser[i].url_imagen  %> " alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center"> <%=perfil.relacionPostUser[i].texto_post  %></p>
                            </a>
                        </div>

                        </div>
                </section>

            <%} %> 
            </div>
        </div>
          
     </main>

      <%- include("footer") %> 


    </body>

</html>