<html>

<head>
    <%- include("head") %> 

</head>


<body>
    

    <% for( let i = 0; i < coment.length; i++ ) { %>


        <ul>

            <li>
                <%= coment[i].relacionComentUser.nombre_usuario %> 
             
             </li>


<img src="<%=coment[i].relacionComentPosts.url_imagen  %>"  alt="">

<li>
    <%= coment[i].relacionComentPosts.texto_post %> 
</li>

<li> 
    <%= coment[i].texto_comentario %> 

</li>




            
        </ul>

        <% } %>       

</body>





</html>