<!DOCTYPE html>
<html lang="en">

      <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
      </head>
    
    <body>
         <%- include("headerDeslogueado") %> 
    
    <main>
         <div class="contenedor ">

            <% if (busquedas.length == 0) { %>

              <img src="https://media.giphy.com/media/tK9YVw0UjUwJIL0oSq/giphy.gif" alt="">
         
              <h3 class="noResults"> Tu busqueda no obtuvo resultados...</h3>
              
            <% } else { %>

              <h3>Resultados:</h3>
     
            <% for( let i = 0; i < busquedas.length; i++ ) { %>
                <li class="hola"> 
                   <p> Nombre de usuario: </p><a class="nombre" href="/profile/detalleUsuario/<%=busquedas[i].id %>"   >   <%= busquedas[i].nombre_usuario  %> </a>
                </li>
                <li class="hola">
                  <p>Mail:</p> <a class="email" href="/profile/detalleUsuario/<%=busquedas[i].id %>"   >   <%= busquedas[i].email  %> </a> 
                </li>
            <% } %>
            <% } %>
                <br>
                <h3 class="volverHome"> Volvemos al home? <a href="/home/"> Click aca! </a> </h3>
             <br>
        </div>
    </main>
         <br>
         <%- include("footer") %> 


    </body>

</html>

